# Gather and Wrangle: We Rate Dogs Twitter Archive

**The goal of this project is to gather and clean data from the We Rate Dogs twitter acount. **

**The three datasets are:**
1. The twitter archive of WeRateDogs
2. Tweet image predictions of the dogs in the pictures according to a neural network
3. Each tweets favorite and retweet counts

**The three data sets will be downloaded in different ways:**
1. Twitter archive - Manually downloaded
2. Tweet image predictions-Programatically downloaded with the python requests library
3. Tweet favorite and retweet counts - Obtained from the Twitter API. 

Resources:
The tweet data dictionary is very helpful for deciphering the keys within the twitter JSON.
https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/tweet-object.html
https://stackabuse.com/reading-and-writing-json-to-a-file-in-python/
https://stackoverflow.com/questions/7370801/measure-time-elapsed-in-python
https://wiki.python.org/moin/HandlingExceptions
https://gist.github.com/paulochf/f6c9ed0b39f85dd85270
https://stackoverflow.com/questions/6633678/finding-words-after-keyword-in-python

## 1. Gather the data. 
First load required packaged. Pandas for Pandas library, requests to load things programmatically with a url,
tweepy to access twitter API (this first needs to be installed in your ipython environment via pip install tweepy) and os to access parts of your operating system directory

In [505]:
import pandas as pd
import requests
import tweepy 
import os 
import json
from functools import reduce
#from load_api import load_api
import time
import re
from datetime import datetime



%matplotlib inline
%run load_api.py

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

#expand column width to view the text output better
pd.set_option('max_colwidth', 150)

**First load the data that were manually downloaded. These data were obtained from the WeRateDogs twitter account managers who downloaded these data and made it available for students in the class.**

In [506]:
df_arch = pd.read_csv('Data/twitter-archive-enhanced.csv')
df_arch.head()
#df_arch.retweeted_status_id.value_counts()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https:/...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https:/...",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None

In [507]:
df_arch.shape

(2356, 17)

**Now programmatically download the image prediction data.**

In [153]:
#url of where the data are
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)

#now save the file to the computer
#put the data in the Data folder
folder_name = 'Data'
if not os.path.exists(folder_name):
    os.makedirs(folder_name)
    
with open(os.path.join(folder_name, url.split('/')[-1]), mode='wb') as file:
    file.write(response.content)
    
#load them as a datafame
image_df = pd.read_csv('Data/image-predictions.tsv', sep='\t')
image_df.head()
image_df.shape

(2075, 12)

**Create API object to use to get the Twitter data**  
I have used a function to do this so as not to share my Twitter consumer key and access token.

In [65]:
api = load_api()

id_test = df_arch.tweet_id.iloc[0]
print(id_test)

#obtain tweet with info
tweet = api.get_status(id_test, tweet_mod='extended')

#entire JSON 
#print(tweet)
#tweet text
print(tweet.text)
#how many times the tweet has been retweeted
print(tweet.retweet_count)
#how many times the tweet has been favorited
print(tweet.favorite_count)
#how many followers the user has at the time of the tweet
print(tweet.user.followers_count)
#print(df_arch.tweet_id)

892420643555336193
This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU
8259
37853
7793827
0       892420643555336193
1       892177421306343426
2       891815181378084864
3       891689557279858688
4       891327558926688256
5       891087950875897856
6       890971913173991426
7       890729181411237888
8       890609185150312448
9       890240255349198849
10      890006608113172480
11      889880896479866881
12      889665388333682689
13      889638837579907072
14      889531135344209921
15      889278841981685760
16      888917238123831296
17      888804989199671297
18      888554962724278272
19      888202515573088257
20      888078434458587136
21      887705289381826560
22      887517139158093824
23      887473957103951883
24      887343217045368832
25      887101392804085760
26      886983233522544640
27      886736880519319552
28      886680336477933568
29      886366144734445568
               ...
2326    666411507551481857
2327    666407126856765440
2328    666396247373291520
2329    666373753744588802
2330    666362758909284353
2331    666353288456101888
2332    666345417576210432
2333    666337882303524864
2334    666293911632134144
2335    666287406224695296
2336    666273097616637952
2337    666268910803644416
2338    666104133288665088
2339    666102155909144576
2340    666099513787052032
2341    666094000022159362
2342    666082916733198337
2343    666073100786774016
2344    666071193221509120
2345    666063827256086533
2346    666058600524156928
2347    666057090499244032
2348    666055525042405380
2349    666051853826850816
2350    666050758794694657
2351    666049248165822465
2352    666044226329800704
2353    666033412701032449
2354    666029285002620928
2355    666020888022790149
Name: tweet_id, Length: 2356, dtype: int64

**Query each tweet id and write its JSON data to the required tweet_json.txt file. Then read the txt file line by line to make a pandas DataFrame.**

Tips:

1. Try-except blocks may come in handy here.
2. Printing out each tweet ID after it was queried 
3. Using a code timer were both helpful 
4. Setting the wait_on_rate_limit and wait_on_rate_limit_notify parameters to True in the tweepy.api class is useful as well.

In [119]:
#loop through each tweet id in the dr_arch df


start = time.time()
print("starting")

data = []
tweet_errors = {}
for id in df_arch.tweet_id:
    try:
        tweet = api.get_status(id, tweet_mod='extended')
        print(tweet.id)
        date = tweet.created_at
        new_date = date.strftime('%Y-%m-%d %H-%M-%S')
        rt_ct = tweet.retweet_count
        fav_ct = tweet.favorite_count
        flr_ct = tweet.user.followers_count
        data.append({'id':tweet.id, 'date': new_date, 'retweet_cnt':rt_ct, "favorite_cnt": fav_ct, "followers":flr_ct})
        
        
    except Exception as e:
        print(str(tweet.id)+str(e))
        tweet_errors[tweet.id] = tweet.id
        

end = time.time()
print("total time elapsed = " + str(end - start))

starting
892420643555336193
892177421306343426
891815181378084864
891689557279858688
891327558926688256
891087950875897856
890971913173991426
890729181411237888
890609185150312448
890240255349198849
890006608113172480
889880896479866881
889665388333682689
889638837579907072
889531135344209921
889278841981685760
888917238123831296
888804989199671297
888554962724278272
888554962724278272[{'code': 144, 'message': 'No status found with that ID.'}]
888078434458587136
887705289381826560
887517139158093824
887473957103951883
887343217045368832
887101392804085760
886983233522544640
886736880519319552
886680336477933568
886366144734445568
886267009285017600
886258384151887873
886054160059072513
885984800019947520
885528943205470208
885518971528720385
885311592912609280
885167619883638784
884925521741709313
884876753390489601
884562892145688576
884441805382717440
884247878851493888
884162670584377345
883838122936631299
883482846933004288
883360690899218434
883117836046086144
882992080364220416
882762694511734784
882627270321602560
882268110199369728
882045870035918850
881906580714921986
881666595344535552
881633300179243008
881536004380872706
881268444196462592
880935762899988482
880872448815771648
880465832366813184
880221127280381952
880095782870896641
879862464715927552
879674319642796034
879492040517615616
879415818425184262
879376492567855104
879130579576475649
879050749262655488
879008229531029506
878776093423087618
878604707211726852
878404777348136964
878316110768087041
878281511006478336
878057613040115712
877736472329191424
877611172832227328
877556246731214848
877316821321428993
877201837425926144
876838120628539392
876537666061221889
876484053909872640
876120275196170240
875747767867523072
875144289856114688
875097192612077568
875021211251597312
874680097055178752
874434818259525634
874296783580663808
874057562936811520
874012996292530176
874012996292530176[{'code': 144, 'message': 'No status found with that ID.'}]
873580283840344065
873337748698140672
873213775632977920
872967104147763200
872820683541237760
872820683541237760[{'code': 144, 'message': 'No status found with that ID.'}]
872620804844003328
872486979161796608
872261713294495745
872122724285648897
871879754684805121
871762521631449091
871515927908634625
871166179821445120
871102520638267392
871032628920680449
870804317367881728
870726314365509632
870656317836468226
870374049280663552
870308999962521604
870063196459192321
870063196459192321[{'code': 144, 'message': 'No status found with that ID.'}]
869772420881756160
869702957897576449
869596645499047938
869227993411051520
868880397819494401
868639477480148993
868622495443632128
868552278524837888
867900495410671616
867774946302451713
867421006826221569
867072653475098625
867051520902168576
867051520902168576[{'code': 144, 'message': 'No status found with that ID.'}]
866720684873056260
866686824827068416
866450705531457537
866334964761202691
866094527597207552
865718153858494464
865359393868664832
865006731092295680
864873206498414592
864279568663928832
864197398364647424
863907417377173506
863553081350529029
863471782782697472
863432100342583297
863427515083354112
863079547188785154
863062471531167744
862831371563274240
862722525377298433
862457590147678208
862096992088072192
862096992088072192[{'code': 144, 'message': 'No status found with that ID.'}]
861383897657036800
861288531465048066
861005113778896900
860981674716409858
860924035999428608
860563773140209665
860524505164394496
860276583193509888
860184849394610176
860177593139703809
859924526012018688
859851578198683649
859607811541651456
859196978902773760
859074603037188101
858860390427611136
858843525470990336
858471635011153920
858107933456039936
857989990357356544
857746408056729600
857393404942143489
857263160327368704
857214891891077121
857062103051644929
857029823797047296
856602993587888130
856543823941562368
856526610513747968
856330835276025856
856288084350160898
856282028240666624
855862651834028034
855860136149123072
855857698524602368
855851453814013952
855818117272018944
855459453768019968
855245323840757760
855138241867124737
854732716440526848
854482394044301312
854365224396361728
854120357044912130
854010172552949760
853760880890318849
853639147608842240
853299958564483072
852936405516943360
852912242202992640
852672615818899456
852553447878664193
852311364735569921
852226086759018497
852189679701164033
851953902622658560
851861385021730816
851591660324737024
851464819735769094
851224888060895234
850753642995093505
850380195714523136
850333567704068097
850145622816686080
850019790995546112
849776966551130114
849668094696017920
849412302885593088
849336543269576704
849051919805034497
848690551926992896
848324959059550208
848213670039564288
848212111729840128
847978865427394560
847971574464610304
847962785489326080
847842811428974592
847617282490613760
847606175596138505
847251039262605312
847157206088847362
847116187444137987
846874817362120707
846514051647705089
846505985330044928
846153765933735936
846139713627017216
846042936437604353
845812042753855489
845677943972139009
845677943972139009[{'code': 144, 'message': 'No status found with that ID.'}]
845397057150107648
845306882940190720
845098359547420673
844979544864018432
844973813909606400
844704788403113984
844580511645339650
844223788422217728
843981021012017153
843856843873095681
843604394117681152
843235543001513987
843235543001513987[{'code': 144, 'message': 'No status found with that ID.'}]
842846295480000512
842765311967449089
842535590457499648
842163532590374912
842115215311396866
841833993020538882
841680585030541313
841439858740625411
841320156043304961
841314665196081154
841077006473256960
840761248237133825
840728873075638272
840698636975636481
840696689258311684
840632337062862849
840370681858686976
840268004936019968
839990271299457024
839549326359670784
839290600511926273
839239871831150596
838952994649550848
838921590096166913
838916489579200512
838831947270979586
838561493054533637
838476387338051585
838201503651401729
838150277551247360
838085839343206401
838083903487373313
837820167694528512
837482249356513284
837471256429613056
837366284874571778
837110210464448512
837110210464448512[{'code': 144, 'message': 'No status found with that ID.'}]
836989968035819520
836753516572119041
836677758902222849
836648853927522308
836397794269200385
836380477523124226
836260088725786625
836001077879255040
835685285446955009
835574547218894849
835536468978302976
835309094223372289
835297930240217089
835264098648616962
835246439529840640
835172783151792128
835152434251116546
834931633769889797
834786237630337024
834574053763584002
834477809192075265
834458053273591808
834209720923721728
834167344700198914
834089966724603904
834086379323871233
833863086058651648
833826103416520705
833732339549220864
833722901757046785
833479644947025920
833124694597443584
832998151111966721
832769181346996225
832757312314028032
832682457690300417
832645525019123713
832636094638288896
832397543355072512
832369877331693569
832273440279240704
832215909146226688
832215726631055365
832088576586297345
832040443403784192
832032802820481025
831939777352105988
831926988323639298
831911600680497154
831670449226514432
831650051525054464
831552930092285952
831322785565769729
831315979191906304
831309418084069378
831262627380748289
830956169170665475
830583320585068544
830173239259324417
830097400375152640
829878982036299777
829861396166877184
829501995190984704
829449946868879360
829374341691346946
829141528400556032
829011960981237760
828801551087042563
828770345708580865
828708714936930305
828650029636317184
828409743546925057
828408677031882754
828381636999917570
828376505180889089
828372645993398273
828361771580813312
828046555563323392
828011680017821696
827933404142436356
827653905312006145
827600520311402496
827324948884643840
827324948884643840[{'code': 144, 'message': 'No status found with that ID.'}]
827199976799354881
826958653328592898
826848821049180160
826615380357632002
826598799820865537
826598365270007810
826476773533745153
826240494070030336
826204788643753985
826115272272650244
825876512159186944
825829644528148480
825535076884762624
825147591692263424
825120256414846976
825026590719483904
824796380199809024

824775126675836928
824663926340194305
824325613288833024
824297048279236611
824025158776213504
823939628516474880
823719002937630720
823699002998870016
823581115634085888
823333489516937216
823322678127919110
823269594223824897
822975315408461824
822872901745569793
822859134160621569
822647212903690241
822610361945911296
822489057087389700
822462944365645825
822244816520155136
822163064745328640
821886076407029760
821813639212650496
821765923262631936
821522889702862852
821421320206483457
821407182352777218
821153421864615936
821149554670182400
821107785811234820
821044531881721856
820837357901512704
820749716845686786
820690176645140481
820494788566847489
820446719150292993
820314633777061888
820078625395449857
820013781606658049
819952236453363712
819924195358416896
819711362133872643
819588359383371776
819347104292290561
819238181065359361
819227688460238848
819015337530290176
819015331746349057
819006400881917954
819004803107983360
818646164899774465
818627210458333184
818614493328580609
818588835076603904
818536468981415936
818307523543449600
818259473185828864
818145370475810820
817908911860748288
817827839487737858
817777686764523521
817536400337801217
817502432452313088
817423860136083457
817415592588222464
817181837579653120
817171292965273600
817120970343411712
817056546584727552
816829038950027264
816816676327063552
816697700272001025
816450570814898180
816336735214911488
816091915477250048
816062466425819140
816014286006976512
815990720817401858
815966073409433600
815745968457060357
815736392542261248
815639385530101762
815390420867969024
814986499976527872
814638523311648768
814578408554463233
814530161257443328
814153002265309185
813944609378369540
813910438903693312
813812741911748608
813800681631023104
813217897535406080
813202720496779264
813187593374461952
813172488309972993
813157409116065792
813142292504645637
813130366689148928
813127251579564032
813112105746448384
813096984823349248
813081950185472002
813066809284972545
813051746834595840
812781120811126785
812781120811126785[{'code': 144, 'message': 'No status found with that ID.'}]
812709060537683968
812503143955202048
812466873996607488
812372279581671427
811985624773361665
811744202451197953
811647686436880384
811627233043480576
811386762094317568
810984652412424192
810896069567610880
810657578271330305
810284430598270976
810254108431155201
809920764300447744
809808892968534016
809448704142938112
809220051211603969
809084759137812480
808838249661788160
808733504066486276
808501579447930884
808344865868283904
808134635716833280
808106460588765185
808001312164028416
807621403335917568
807106840509214720
807059379405148160
807010152071229440
806629075125202948
806620845233815552
806576416489959424
806542213899489280
806242860592926720
806219024703037440
805958939288408065
805932879469572096
805826884734976000
805823200554876929
805520635690676224
805487436403003392
805207613751304193
804738756058218496
804475857670639616
804413760345620481
804026241225523202
803773340896923648
803692223237865472
803638050916102144
803380650405482500
803321560782307329
803276597545603072
802952499103731712
802624713319034886
802600418706604034
802572683846291456
802323869084381190
802265048156610565
802265048156610565[{'code': 144, 'message': 'No status found with that ID.'}]
802239329049477120
802185808107208704
801958328846974976
801854953262350336
801538201127157760
801285448605831168
801167903437357056
801127390143516673
801115127852503040
800859414831898624
800855607700029440
800751577355128832
800513324630806528
800459316964663297
800443802682937345
800388270626521089
800188575492947969
800141422401830912
800018252395122689
799774291445383169
799757965289017345
799422933579902976
799308762079035393
799297110730567681
799063482566066176
798933969379225600
798925684722855936
798705661114773508
798701998996647937
798697898615730177
798694562394996736
798686750113755136
798682547630837760
798673117451325440
798665375516884993
798644042770751489
798628517273620480
798585098161549313
798576900688019456
798340744599797760
798209839306514432
797971864723324932
797545162159308800
797236660651966464
797165961484890113
796904159865868288
796865951799083009
796759840936919040
796563435802726400
796484825502875648
796387464403357696
796177847564038144
796149749086875649
796125600683540480
796116448414461957
796080075804475393
796031486298386433
795464331001561088
795400264262053889
795076730285391872
794983741416415232
794926597468000259
794355576146903043
794332329137291264
794205286408003585
793962221541933056
793845145112371200
793614319594401792
793601777308463104
793500921481273345
793286476301799424
793271401113350145
793256262322548741
793241302385262592
793226087023144960
793210959003287553
793195938047070209
793180763617361921
793165685325201412
793150605191548928
793135492858580992
793120401413079041
792913359805018113
792883833364439040
792773781206999040
792394556390137856
792050063153438720
791821351946420224
791784077045166082
791780927877898241
791774931465953280
791672322847637504
791406955684368384
791312159183634433
791026214425268224
790987426131050500
790946055508652032
790723298204217344
790698755171364864
790581949425475584
790337589677002753
790277117346975746
790227638568808452
789986466051088384
789960241177853952
789903600034189313
789628658055020548
789599242079838210
789530877013393408
789314372632018944
789280767834746880
789268448748703744
789137962068021249
788908386943430656
788765914992902144
788552643979468800
788412144018661376
788178268662984705
788150585577050112
788070120937619456
788039637453406209
787810552592695296
787717603741622272
787397959788929025
787322443945877504
787111942498508800
786963064373534720
786729988674449408
786709082849828864
786664955043049472
786595970293370880
786363235746385920
786286427768250368
786233965241827333
786051337297522688
786036967502913536
785927819176054784
785872687017132033
785639753186217984
785533386513321988
785515384317313025
785264754247995392
785170936622350336
784826020293709826
784517518371221505
784431430411685888
784183165795655680
784057939640352768
783839966405230592
783821107061198850
783695101801398276
783466772167098368
783391753726550016
783347506784731136
783334639985389568
783085703974514689
782969140009107456
782747134529531904
782722598790725632
782598640137187329
782305867769217024
782021823840026624
781955203444699136
781661882474196992
781655249211752448
781524693396357120
781308096455073793
781251288990355457
781163403222056960
780931614150983680
780858289093574656
780800785462489090
780601303617732608
780543529827336192
780496263422808064
780476555013349377
780459368902959104
780192070812196864
780092040432480260
780074436359819264
779834332596887552
779377524342161408
779124354206535695
779123168116150273
779056095788752897
778990705243029504
778774459159379968
778764940568104960
778748913645780993
778650543019483137
778624900596654080
778408200802557953
778396591732486144
778383385161035776
778286810187399168
778039087836069888
778027034220126208
777953400541634568
777885040357281792
777684233540206592
777641927919427584
777621514455814149
777189768882946048
776819012571455488
776813020089548800
776477788987613185
776249906839351296
776218204058357768
776201521193218049
776113305656188928
776088319444877312
775898661951791106
775842724423557120
775733305207554048
775729183532220416
775364825476165632
775350846108426240
775350846108426240[{'code': 144, 'message': 'No status found with that ID.'}]
775085132600442880
774757898236878852
774639387460112384
774314403806253056
773985732834758656
773922284943896577
773704687002451968
773670353721753600
773547596996571136
773336787167145985
773308824254029826
773247561583001600
773191612633579521
772877495989305348
772826264096874500
772615324260794368
772581559778025472
772193107915964416
772152991789019136
772117678702071809
772114945936949249
772102971039580160
771908950375665664
771770456517009408
771500966810099713
771380798096281600
771171053431250945
771136648247640064
771102124360998913
771014301343748096
771004394259247104
770787852854652928
770772759874076672
770772759874076672[{'code': 144, 'message': 'No status found with that ID.'}]

770655142660169732
770414278348247044
770293558247038976
770093767776997377
770069151037685760
769940425801170949
769695466921623552
769335591808995329
769212283578875904
768970937022709760
768909767477751808
768855141948723200
768609597686943744
768596291618299904
768554158521745409
768473857036525572
768193404517830656
767884188863397888
767754930266464257
767500508068192258
767191397493538821
767122157629476866
766864461642756096
766793450729734144
766714921925144576
766693177336135680
766423258543644672
766313316352462849
766078092750233600
766069199026450432
766008592277377025
765719909049503744
765669560888528897
765395769549590528
765371061932261376
765222098633691136
764857477905154048
764259802650378240
763956972077010945
763837565564780549
763183847194451968
763167063695355904
763103485927849985
762699858130116608
762471784394268675
762464539388485633
762316489655476224
762035686371364864
761976711479193600
761750502866649088
761745352076779520
761672994376806400
761599872357261312
761371037149827077
761334018830917632
761292947749015552
761227390836215808
761004547850530816
760893934457552897
760656994973933572
760641137271070720
760539183865880579
760521673607086080
760290219849637889
760252756032651264
760190180481531904
760153949710192640
759943073749200896
759923798737051648
759846353224826880
759793422261743616
759566828574212096
759557299618865152
759447681597108224

Rate limit reached. Sleeping for: 369

759446261539934208
759197388317847553
759159934323924993
759099523532779520
759047813560868866
758854675097526272
758828659922702336
758740312047005698
758474966123810816
758467244762497024
758405701903519748
758355060040593408
758099635764359168
758041019896193024
757741869644341248
757729163776290825
757725642876129280
757611664640446465
757597904299253760
757596066325864448
757400162377592832
757393109802180609
757354760399941633
756998049151549440
756939218950160384
756651752796094464
756526248105566208
756303284449767430
756288534030475264
756275833623502848
755955933503782912
755206590534418437
755110668769038337
754874841593970688
754856583969079297
754747087846248448
754482103782404096
754449512966619136
754120377874386944
754120377874386944[{'code': 144, 'message': 'No status found with that ID.'}]
753655901052166144
753420520834629632
753398408988139520
753375668877008896
753298634498793472
753294487569522689
753039830821511168
753026973505581056
752932432744185856
752917284578922496
752701944171524096
752682090207055872
752660715232722944
752568224206688256
752519690950500352
752334515931054080
752309394570878976
752173152931807232
751950017322246144
751937170840121344
751830394383790080
751793661361422336
751598357617971201
751583847268179968
751538714308972544
751456908746354688
751251247299190784
751205363882532864
751132876104687617
750868782890057730
750719632563142656
750506206503038976
750429297815552001
750383411068534784
750381685133418496
750147208377409536
750132105863102464
750117059602808832
750101899009982464
750086836815486976
750071704093859840
750056684286914561
750041628174217216
750026558547456000
750011400160841729
749996283729883136
749981277374128128
749774190421639168
749417653287129088
749403093750648834
749395845976588288
749317047558017024
749075273010798592
749064354620928000
749036806121881602
748977405889503236
748932637671223296
748705597323898880
748699167502000129
748692773788876800
748575535303884801
748568946752774144
748346686624440324
748337862848962560
748324050481647620
748307329658011649
748220828303695873
747963614829678593
747933425676525569
747885874273214464
747844099428986880
747816857231626240
747651430853525504
747648653817413632
747600769478692864
747594051852075008
747512671126323200
747461612269887489
747439450712596480
747242308580548608
747219827526344708
747204161125646336
747103485104099331
746906459439529985
746872823977771008
746818907684614144
746790600704425984
746757706116112384
746726898085036033
746542875601690625
746521445350707200
746507379341139972
746369468511756288
746131877086527488
746056683365994496
745789745784041472
745712589599014916
745433870967832576
745422732645535745
745314880350101504
745074613265149952
745057283344719872
744995568523612160
744971049620602880
744709971296780288
744334592493166593
744234799360020481
744223424764059648
743980027717509120
743895849529389061
743835915802583040
743609206067040256
743595368194129920
743545585370791937
743510151680958465
743253157753532416
743222593470234624
743210557239623680
742534281772302336
742528092657332225
742465774154047488
742423170473463808
742385895052087300
742161199639494656
742150209887731712
741793263812808706
741743634094141440
741438259667034112
741303864243200000
741099773336379392
741067306818797568
740995100998766593
740711788199743490
740699697422163968
740676976021798912
740373189193256964
740365076218183684
740359016048689152
740214038584557568
739979191639244800
739932936087216128
739844404073074688
739623569819336705
739606147276148736
739544079319588864
739485634323156992
739238157791694849
738891149612572673
738885046782832640
738883359779196928
738537504001953792
738402415918125056
738184450748633089
738166403467907072
738156290900254721
737826014890496000
737800304142471168
737678689543020544
737445876994609152
737322739594330112
737310737551491075
736736130620620800
736392552031657984
736365877722001409
736225175608430592
736010884653420544
735991953473572864
735648611367784448
735635087207878657
735274964362878976
735256018284875776
735137028879360001
734912297295085568
734787690684657664
734776360183431168
734559631394082816
733828123016450049
733822306246479872
733482008106668032
733460102733135873
733109485275860992
732732193018155009
732726085725589504
732585889486888962
732375214819057664
732005617171337216
731285275100512256
731156023742988288
730924654643314689
730573383004487680
730427201120833536
730211855403241472
730196704625098752
729854734790754305
729838605770891264
729823566028484608
729463711119904772
729113531270991872
728986383096946689
728760639972315136
728751179681943552
728653952833728512
728409960103686147
728387165835677696
728046963732717569
728035342121635841
728015554473250816
727685679342333952
727644517743104000
727524757080539137
727314416056803329
727286334147182592
727175381690781696
727155742655025152
726935089318363137
726887082820554753
726828223124897792
726224900189511680
725842289046749185
725786712245440512
725729321944506368
725458796924002305
724983749226668032
724771698126512129
724405726123311104
724049859469295616
724046343203856385
724004602748780546
723912936180330496
723688335806480385
723673163800948736
723179728551723008
722974582966214656
722613351520608256
721503162398597120
721001180231503872
720785406564900865
720775346191278080
720415127506415616
720389942216527872
720340705894408192
720059472081784833
720043174954147842
719991154352222208
719704490224398336
719551379208073216
719367763014393856
719339463458033665
719332531645071360
718971898235854848
718939241951195136
718631497683582976
718613305783398402
718540630683709445
718460005985447936
718454725339934721
718246886998687744
718234618122661888
717841801130979328
717790033953034240
717537687239008257
717428917016076293
717421804990701568
717047459982213120
717009362452090881
716802964044845056
716791146589110272
716730379797970944
716447146686459905
716439118184652801
716285507865542656
716080869887381504
715928423106027520
715758151270801409
715733265223708672
715704790270025728
715696743237730304
715680795826982913
715360349751484417
715342466308784130
715220193576927233
715200624753819648
715009755312439296
714982300363173890
714962719905021952
714957620017307648
714631576617938945
714606013974974464
714485234495041536
714258258790387713
714251586676113411
714214115368108032
714141408463036416
713919462244790272
713909862279876608
713900603437621249
713761197720473600
713411074226274305
713177543487135744
713175907180089344
712809025985978368
712717840512598017
712668654853337088
712438159032893441
712309440758808576
712097430750289920
712092745624633345
712085617388212225
712065007010385924
711998809858043904
711968124745228288
711743778164514816
711732680602345472
711694788429553666
711652651650457602
711363825979756544
711306686208872448
711008018775851008
710997087345876993
710844581445812225
710833117892898816
710658690886586372
710609963652087808
710588934686908417
710296729921429505
710283270106132480
710272297844797440
710269109699739648
710153181850935296
710140971284037632
710117014656950272
709918798883774466
709901256215666688
709852847387627521
709566166965075968
709556954897764353
709519240576036864
709449600415961088
709409458133323776
709225125749587968
709207347839836162
709198395643068416
709179584944730112
709158332880297985
709042156699303936
708853462201716736
708845821941387268
708834316713893888
708810915978854401
708738143638450176
708711088997666817
708479650088034305
708469915515297792
708400866336894977
708356463048204288
708349470027751425
708149363256774660
708130923141795840
708119489313951744
708109389455101952
708026248782585858
707995814724026368
707983188426153984
707969809498152960
707776935007539200
707741517457260545
707738799544082433
707693576495472641
707629649552134146
707610948723478529
707420581654872064
707411934438625280
707387676719185920
707377100785885184
707315916783140866
707297311098011648
707059547140169728
707038192327901184
707021089608753152
707014260413456384
706904523814649856
706901761596989440
706681918348251136
706644897839910912
706593038911545345
706538006853918722
706516534877929472
706346369204748288
706310011488698368

706291001778950144
706265994973601792
706169069255446529
706166467411222528
706153300320784384
705975130514706432
705970349788291072
705898680587526145
705786532653883392
705591895322394625
705475953783398401
705442520700944385
705428427625635840
705239209544720384
705223444686888960
705102439679201280
705066031337840642
704871453724954624
704859558691414016
704847917308362754
704819833553219584
704761120771465216
704499785726889984
704491224099647488
704480331685040129
704364645503647744
704347321748819968
704134088924532736
704113298707505153
704054845121142784
703774238772166656
703769065844768768
703631701117943808
703611486317502464
703425003149250560
703407252292673536
703382836347330562
703356393781329922
703268521220972544
703079050210877440
703041949650034688
702932127499816960
702899151802126337
702684942141153280
702671118226825216
702598099714314240
702539513671897089
702332542343577600
702321140488925184
702276748847800320
702217446468493312
701981390485725185
701952816642965504
701889187134500865
701805642395348998
701601587219795968
701570477911896070
701545186879471618
701214700881756160
700890391244103680
700864154249383937
700847567345688576
700796979434098688
700747788515020802
700518061187723268
700505138482569216
700462010979500032
700167517596164096
700151421916807169
700143752053182464
700062718104104960
700029284593901568
700002074055016451
699801817392291840
699788877217865730
699779630832685056
699775878809702401
699691744225525762
699446877801091073
699434518667751424
699423671849451520
699413908797464576
699370870310113280
699323444782047232
699088579889332224
699079609774645248
699072405256409088
699060279947165696
699036661657767936
698989035503689728
698953797952008193
698907974262222848
698710712454139905
698703483621523456
698635131305795584
698549713696649216
698355670425473025
698342080612007937
698262614669991936
698195409219559425
698178924120031232
697995514407682048
697990423684476929
697943111201378304
697881462549430272
697630435728322560
697616773278015490
697596423848730625
697575480820686848
697516214579523584
697482927769255936
697463031882764288
697270446429966336
697259378236399616
697255105972801536
697242256848379904
696900204696625153
696894894812565505
696886256886657024
696877980375769088
696754882863349760
696744641916489729
696713835009417216
696518437233913856
696490539101908992
696488710901260288
696405997980676096
696100768806522880
695816827381944320
695794761660297217
695767669421768709
695629776980148225
695446424020918272
695409464418041856
695314793360662529
695095422348574720
695074328191332352
695064344191721472
695051054296211456
694925794720792577
694905863685980160
694669722378485760
694356675654983680
694352839993344000
694342028726001664
694329668942569472
694206574471057408
694183373896572928
694001791655137281
693993230313091072
693942351086120961
693647888581312512
693644216740769793
693642232151285760
693629975228977152
693622659251335168
693590843962331137
693582294167244802
693486665285931008
693280720173801472
693267061318012928
693262851218264065
693231807727280129
693155686491000832
693109034023534592
693095443459342336
692919143163629568
692905862751522816
692901601640583168
692894228850999298
692828166163931137
692752401762250755
692568918515392513
692535307825213440
692530551048294401
692423280028966913
692417313023332352
692187005137076224
692158366030913536
692142790915014657
692041934689402880
692017291282812928
691820333922455552
691793053716221953
691756958957883396
691675652215414786
691483041324204033
691459709405118465
691444869282295808
691416866452082688
691321916024623104
691096613310316544
691090071332753408
690989312272396288
690959652130045952
690938899477221376
690932576555528194
690735892932222976
690728923253055490
690690673629138944
690649993829576704
690607260360429569
690597161306841088
690400367696297985
690374419777196032
690360449368465409
690348396616552449
690248561355657216
690021994562220032
690015576308211712
690005060500217858
689999384604450816
689993469801164801
689977555533848577
689905486972461056
689877686181715968
689835978131935233
689661964914655233
689659372465688576
689623661272240129
689599056876867584
689557536375177216
689517482558820352
689289219123089408
689283819090870273
689280876073582592
689275259254616065
689255633275777024
689154315265683456
689143371370250240
688916208532455424
688908934925697024
688898160958271489
688894073864884227
688828561667567616
688804835492233216
688789766343622656
688547210804498433
688519176466644993
688385280030670848
688211956440801280
688179443353796608
688116655151435777
688064179421470721
687841446767013888
687826841265172480
687818504314159109
687807801670897665
687732144991551489
687704180304273409
687664829264453632
687494652870668288
687480748861947905
687476254459715584
687460506001633280
687399393394311168
687317306314240000
687312378585812992
687127927494963200
687124485711986689
687109925361856513
687102708889812993
687096057537363968
686947101016735744
686760001961103360
686749460672679938
686730991906516992
686683045143953408
686618349602762752
686606069955735556
686394059078897668
686386521809772549
686377065986265092
686358356425093120
686286779679375361
686050296934563840
686035780142297088
686034024800862208
686007916130873345
686003207160610816
685973236358713344
685943807276412928
685906723014619143
685681090388975616
685667379192414208
685663452032069632
685641971164143616
685547936038666240
685532292383666176
685325112850124800
685321586178670592
685315239903100929
685307451701334016
685268753634967552
685198997565345792
685169283572338688
684969860808454144
684959798585110529
684940049151070208
684926975086034944
684914660081053696
684902183876321280
684880619965411328
684830982659280897
684800227459624960
684594889858887680
684588130326986752
684567543613382656
684538444857667585
684481074559381504
684460069371654144
684241637099323392
684225744407494656
684222868335505415
684200372118904832
684195085588783105
684188786104872960
684177701129875456
684147889187209216
684122891630342144
684097758874210310
683857920510050305
683852578183077888
683849932751646720
683834909291606017
683828599284170753
683773439333797890
683742671509258241
683515932363329536
683498322573824003
683481228088049664
683462770029932544
683449695444799489
683391852557561860
683357973142474752
683142553609318400
683111407806746624
683098815881154561
683078886620553216
683030066213818368
682962037429899265
682808988178739200
682788441537560576
682750546109968385
682697186228989953
682662431982772225
682638830361513985
682429480204398592
682406705142087680
682393905736888321
682389078323662849
682303737705140231
682259524040966145
682242692827447297
682088079302213632
682059653698686977
682047327939461121
682032003584274432
682003177596559360
681981167097122816
681891461017812993
681694085539872773
681679526984871937
681654059175129088
681610798867845120
681579835668455424
681523177663676416
681340665377193984
681339448655802368
681320187870711809
681302363064414209
681297372102656000
681281657291280384
681261549936340994
681242418453299201
681231109724700672
681193455364796417
680970795137544192
680959110691590145
680940246314430465
680934982542561280
680913438424612864
680889648562991104
680836378243002368
680805554198020098
680801747103793152
680798457301471234
680609293079592961
680583894916304897
680497766108381184
680494726643068929
680473011644985345
680440374763077632
680221482581123072
680206703334408192
680191257256136705
680176173301628928
680161097740095489
680145970311643136
680130881361686529
680115823365742593
680100725817409536
680085611152338944
680070545539371008
680070545539371008[{'code': 144, 'message': 'No status found with that ID.'}]
679877062409191424
679872969355714560
679862121895714818
679854723806179328
679844490799091713
679828447187857408
679777920601223168
679736210798047232
679729593985699840
679722016581222400
679530280114372609
679527802031484928
679511351870550016
679503373272485890
679475951516934144
679462823135686656
679405845277462528
679158373988876288
679148763231985668
679132435750195208
679111216690831360
679062614270468097
679047485189439488
679001094530465792
678991772295516161

678969228704284672
678800283649069056
678798276842360832
678774928607469569
678767140346941444
678764513869611008
678755239630127104
678740035362037760
678708137298427904
678675843183484930
678643457146150913
678446151570427904
678424312106393600
678410210315247616
678399652199309312
678396796259975168
678389028614488064
678380236862578688
678341075375947776
678334497360859136
678278586130948096
678255464182861824
678023323247357953
678021115718029313
677961670166224897
677918531514703872
677895101218201600
677716515794329600
677700003327029250
677698403548192770
677687604918272002
677673981332312066
677662372920729601
677644091929329666
677573743309385728
677565715327688705
677557565589463040
677547928504967168
677530072887205888
677335745548390400
677334615166730240
677331501395156992

Rate limit reached. Sleeping for: 706

677328882937298944
677314812125323265
677301033169788928
677269281705472000
677228873407442944
677187300187611136
676975532580409345
676957860086095872
676949632774234114
676948236477857792
676946864479084545
676942428000112642
676936541936185344
676916996760600576
676897532954456065
676864501615042560
676821958043033607
676819651066732545
676811746707918848
676776431406465024
676617503762681856
676613908052996102
676606785097199616
676603393314578432
676593408224403456
676590572941893632
676588346097852417
676582956622721024
676575501977128964
676533798876651520
676496375194980353
676470639084101634
676440007570247681
676430933382295552
676263575653122048
676237365392908289
676219687039057920
676215927814406144
676191832485810177
676146341966438401
676121918416756736
676101918813499392
676098748976615425
676089483918516224
675898130735476737
675891555769696257
675888385639251968
675878199931371520
675870721063669760
675853064436391936
675849018447167488
675845657354215424
675822767435051008
675820929667219457
675798442703122432
675781562965868544
675740360753160193
675710890956750848
675707330206547968
675706639471788032
675534494439489536
675531475945709568
675522403582218240
675517828909424640
675501075957489664
675497103322386432
675489971617296384
675483430902214656
675432746517426176
675372240448454658
675362609739206656
675354435921575936
675349384339542016
675334060156301312
675166823650848770
675153376133427200
675149409102012420
675147105808306176
675146535592706048
675145476954566656
675135153782571009
675113801096802304
675111688094527488
675109292475830276
675047298674663426
675015141583413248
675006312288268288
675003128568291329
674999807681908736
674805413498527744
674800520222154752
674793399141146624
674790488185167872
674788554665512960
674781762103414784
674774481756377088
674767892831932416
674764817387900928
674754018082705410
674752233200820224
674743008475090944
674742531037511680
674739953134403584
674737130913071104
674690135443775488
674670581682434048
674664755118911488
674646392044941312
674644256330530816
674638615994089473
674632714662858753
674606911342424069
674468880899788800
674447403907457024
674436901579923456
674422304705744896
674416750885273600
674410619106390016
674394782723014656
674372068062928900
674330906434379776
674318007229923329
674307341513269249
674291837063053312
674271431610523648
674269164442398721
674265582246694913
674262580978937856
674255168825880576
674082852460433408
674075285688614912
674063288070742018
674053186244734976
674051556661161984
674045139690631169
674042553264685056
674038233588723717
674036086168010753
674024893172875264
674019345211760640
674014384960745472
674008982932058114
673956914389192708
673919437611909120
673906403526995968
673887867907739649
673716320723169284
673715861853720576
673711475735838725
673709992831262724
673708611235921920
673707060090052608
673705679337693185
673700254269775872
673697980713705472
673689733134946305
673688752737402881
673686845050527744
673680198160809984
673662677122719744
673656262056419329
673636718965334016
673612854080196609
673583129559498752
673580926094458881
673576835670777856
673363615379013632
673359818736984064
673355879178194945
673352124999274496
673350198937153538
673345638550134785
673343217010679808
673342308415348736
673320132811366400
673317986296586240
673295268553605120
673270968295534593
673240798075449344
673213039743795200
673148804208660480
672997845381865473
672995267319328768
672988786805112832
672984142909456390
672980819271634944
672975131468300288
672970152493887488
672968025906282496
672964561327235073
672902681409806336
672898206762672129
672884426393653248
672877615439593473
672834301050937345
672828477930868736
672640509974827008
672622327801233409
672614745925664768
672609152938721280
672604026190569472
672594978741354496
672591762242805761
672591271085670400
672538107540070400
672523490734551040
672488522314567680
672482722825261057
672481316919734272
672475084225949696
672466075045466113
672272411274932228
672267570918129665
672264251789176834
672256522047614977
672254177670729728
672248013293752320
672245253877968896
672239279297454080
672231046314901505
672222792075620352
672205392827572224
672169685991993344
672160042234327040
672139350159835138
672125275208069120
672095186491711488
672082170312290304
672068090318987265
671896809300709376
671891728106971137
671882082306625538
671879137494245376
671874878652489728
671866342182637568
671855973984772097
671789708968640512
671768281401958400
671763349865160704
671744970634719232
671743150407421952
671735591348891648
671729906628341761
671561002136281088
671550332464455680
671547767500775424
671544874165002241
671542985629241344
671538301157904385
671536543010570240
671533943490011136
671528761649688577
671520732782923777
671518598289059840
671511350426865664
671504605491109889
671497587707535361
671488513339211776
671486386088865792
671485057807351808
671390180817915904
671362598324076544
671357843010908160
671355857343524864
671347597085433856
671186162933985280
671182547775299584
671166507850801152
671163268581498880
671159727754231808
671154572044468225
671151324042559489
671147085991960577
671141549288370177
671138694582165504
671134062904504320
671122204919246848
671115716440031232
671109016219725825
670995969505435648
670842764863651840
670840546554966016
670838202509447168
670833812859932673
670832455012716544
670826280409919488
670823764196741120
670822709593571328
670815497391357952
670811965569282048
670807719151067136
670804601705242624
670803562457407488
670797304698376195
670792680469889025
670789397210615808
670786190031921152
670783437142401025
670782429121134593
670780561024270336
670778058496974848
670764103623966721
670755717859713024
670733412878163972
670727704916926465
670717338665226240
670704688707301377
670691627984359425
670679630144274432
670676092097810432
670668383499735048
670474236058800128
670468609693655041
670465786746662913
670452855871037440
670449342516494336
670444955656130560
670442337873600512
670435821946826752
670434127938719744
670433248821026816
670428280563085312
670427002554466305
670421925039075328
670420569653809152
670417414769758208
670411370698022913
670408998013820928
670403879788544000
670385711116361728
670374371102445568
670361874861563904
670338931251150849
670319130621435904
670303360680108032
670290420111441920
670093938074779648
670086499208155136
670079681849372674
670073503555706880
670069087419133954
670061506722140161
670055038660800512
670046952931721218
670040295598354432
670037189829525505
670003130994700288
669993076832759809
669972011175813120
669970042633789440
669942763794931712
669926384437997569
669923323644657664
669753178989142016
669749430875258880
669684865554620416
669683899023405056
669682095984410625
669680153564442624
669661792646373376
669625907762618368
669603084620980224
669597912108789760
669583744538451968
669573570759163904
669571471778410496
669567591774625800
669564461267722241
669393256313184256
669375718304980992
669371483794317312
669367896104181761
669363888236994561
669359674819481600
669354382627049472
669353438988365824
669351434509529089
669328503091937280
669327207240699904
669324657376567296
669216679721873412
669214165781868544
669203728096960512
669037058363662336
669015743032369152
669006782128353280
669000397445533696
668994913074286592
668992363537309700
668989615043424256
668988183816871936
668986018524233728
668981893510119424
668979806671884288
668975677807423489
668967877119254528
668960084974809088
668955713004314625
668932921458302977
668902994700836864
668892474547511297
668872652652679168
668852170888998912
668826086256599040
668815180734689280
668779399630725120
668655139528511488
668645506898350081
668643542311546881
668641109086707712
668636665813057536
668633411083464705
668631377374486528
668627278264475648
668625577880875008
668623201287675904
668620235289837568
668614819948453888
668587383441514497
668567822092664832
668544745690562560
668542336805281792
668537837512433665
668528771708952576
668507509523615744
668496999348633600
668484198282485761
668480044826800133
668466899341221888
668297328638447616
668291999406125056
668286279830867968
668274247790391296

668268907921326080
668256321989451776
668248472370458624
668237644992782336
668226093875376128
668221241640230912
668204964695683073
668190681446379520
668171859951755264
668154635664932864
668142349051129856
668113020489474048
667937095915278337
667924896115245057
667915453470232577
667911425562669056
667902449697558528
667886921285246976
667885044254572545
667878741721415682
667873844930215936
667866724293877760
667861340749471744
667832474953625600
667806454573760512
667801013445750784
667793409583771648
667782464991965184
667773195014021121
667766675769573376
667728196545200128
667724302356258817
667550904950915073
667550882905632768
667549055577362432
667546741521195010
667544320556335104
667538891197542400
667534815156183040
667530908589760512
667524857454854144
667517642048163840
667509364010450944
667502640335572993
667495797102141441
667491009379606528
667470559035432960
667455448082227200
667453023279554560
667443425659232256
667437278097252352
667435689202614272
667405339315146752
667393430834667520
667369227918143488
667211855547486208
667200525029539841
667192066997374976
667188689915760640
667182792070062081
667177989038297088
667176164155375616
667174963120574464
667171260800061440
667165590075940865
667160273090932737
667152164079423490
667138269671505920
667119796878725120
667090893657276420
667073648344346624
667070482143944705
667065535570550784
667062181243039745
667044094246576128
667012601033924608
666996132027977728
666983947667116034
666837028449972224
666835007768551424
666826780179869698
666817836334096384
666804364988780544
666786068205871104
666781792255496192
666776908487630848
666739327293083650
666701168228331520
666691418707132416
666649482315059201
666644823164719104
666454714377183233
666447344410484738
666437273139982337
666435652385423360
666430724426358785
666428276349472768
666421158376562688
666418789513326592
666411507551481857
666407126856765440
666396247373291520
666373753744588802
666362758909284353
666353288456101888
666345417576210432
666337882303524864
666293911632134144
666287406224695296
666273097616637952
666268910803644416
666104133288665088
666102155909144576
666099513787052032
666094000022159362
666082916733198337
666073100786774016
666071193221509120
666063827256086533
666058600524156928
666057090499244032
666055525042405380
666051853826850816
666050758794694657
666049248165822465
666044226329800704
666033412701032449
666029285002620928
666020888022790149
total time elapsed = 1592.9890942573547

In [508]:
#serialize json data and save to text file
with open(os.path.join(folder_name,'json_data.txt'), mode='w') as outfile:  
    json.dump(data, outfile)

In [509]:
#convert the text file to a pandas data frame 
json_df = pd.DataFrame(data, columns=['id', 'date', 'retweet_cnt', 'favorite_cnt', 'followers'])
json_df.head()

,id,date,retweet_cnt,favorite_cnt,followers
0,892420643555336193,2017-08-01 16-23-56,8259,37853,7794034
1,892177421306343426,2017-08-01 00-17-27,6103,32526,7794034
2,891815181378084864,2017-07-31 00-18-03,4041,24490,7794034
3,891689557279858688,2017-07-30 15-58-51,8410,41206,7794034
4,891327558926688256,2017-07-29 16-00-24,9108,39388,7794034

In [510]:
json_df.shape

(2340, 5)

In [511]:
#check exceptions, there should be 16 of them which is the difference in the size between json_df and the df_arch
tweet_errors = list(tweet_errors)
tweet_errors
len(tweet_errors) == 16 
#ok, we are all set

True

### Join the dataframes together

Dataframes to join:
1. json_df  
2. df_arch 

Remove the tweet ids that were in the exception list

In [512]:
#change name of json_df column id
json_df = json_df.rename(columns={'id': 'tweet_id'})
json_df.head()

,tweet_id,date,retweet_cnt,favorite_cnt,followers
0,892420643555336193,2017-08-01 16-23-56,8259,37853,7794034
1,892177421306343426,2017-08-01 00-17-27,6103,32526,7794034
2,891815181378084864,2017-07-31 00-18-03,4041,24490,7794034
3,891689557279858688,2017-07-30 15-58-51,8410,41206,7794034
4,891327558926688256,2017-07-29 16-00-24,9108,39388,7794034

In [513]:
#join together and join on the right (json_df) so that it retains only the tweets that have a retweet and like count
new_df = df_arch.merge(json_df, on='tweet_id',how='right')

new_df.head()
new_df.info()
new_df.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2340 entries, 0 to 2339
Data columns (total 21 columns):
tweet_id                      2340 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2340 non-null object
source                        2340 non-null object
text                          2340 non-null object
retweeted_status_id           167 non-null float64
retweeted_status_user_id      167 non-null float64
retweeted_status_timestamp    167 non-null object
expanded_urls                 2281 non-null object
rating_numerator              2340 non-null int64
rating_denominator            2340 non-null int64
name                          2340 non-null object
doggo                         2340 non-null object
floofer                       2340 non-null object
pupper                        2340 non-null object
puppo                         2340 non-null object
date                          2340 non-null object
retweet_cnt                   2340 non-null int64
favorite_cnt                  2340 non-null int64
followers                     2340 non-null int64
dtypes: float64(4), int64(6), object(11)
memory usage: 402.2+ KB

(2340, 21)

In [514]:
#now join the image predictions
df = new_df.merge(image_df, on='tweet_id')
df.info()
df.shape
#adding the image predictions reduced the tweets from 2340 to 2067

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2067 entries, 0 to 2066
Data columns (total 32 columns):
tweet_id                      2067 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2067 non-null object
source                        2067 non-null object
text                          2067 non-null object
retweeted_status_id           75 non-null float64
retweeted_status_user_id      75 non-null float64
retweeted_status_timestamp    75 non-null object
expanded_urls                 2067 non-null object
rating_numerator              2067 non-null int64
rating_denominator            2067 non-null int64
name                          2067 non-null object
doggo                         2067 non-null object
floofer                       2067 non-null object
pupper                        2067 non-null object
puppo                         2067 non-null object
date                          2067 non-null object
retweet_cnt                   2067 non-null int64
favorite_cnt                  2067 non-null int64
followers                     2067 non-null int64
jpg_url                       2067 non-null object
img_num                       2067 non-null int64
p1                            2067 non-null object
p1_conf                       2067 non-null float64
p1_dog                        2067 non-null bool
p2                            2067 non-null object
p2_conf                       2067 non-null float64
p2_dog                        2067 non-null bool
p3                            2067 non-null object
p3_conf                       2067 non-null float64
p3_dog                        2067 non-null bool
dtypes: bool(3), float64(7), int64(7), object(15)
memory usage: 490.5+ KB

(2067, 32)

## 2. Assess the data.

Look for issues specifically related to the ratings, the dog names, and dog stages.

In [515]:
#now remove the ones that were retweets (retweeted status id) or replies (in_reply_to_status_id)
df1 = df.copy()
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2067 entries, 0 to 2066
Data columns (total 32 columns):
tweet_id                      2067 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2067 non-null object
source                        2067 non-null object
text                          2067 non-null object
retweeted_status_id           75 non-null float64
retweeted_status_user_id      75 non-null float64
retweeted_status_timestamp    75 non-null object
expanded_urls                 2067 non-null object
rating_numerator              2067 non-null int64
rating_denominator            2067 non-null int64
name                          2067 non-null object
doggo                         2067 non-null object
floofer                       2067 non-null object
pupper                        2067 non-null object
puppo                         2067 non-null object
date                          2067 non-null object
retweet_cnt                   2067 non-null int64
favorite_cnt                  2067 non-null int64
followers                     2067 non-null int64
jpg_url                       2067 non-null object
img_num                       2067 non-null int64
p1                            2067 non-null object
p1_conf                       2067 non-null float64
p1_dog                        2067 non-null bool
p2                            2067 non-null object
p2_conf                       2067 non-null float64
p2_dog                        2067 non-null bool
p3                            2067 non-null object
p3_conf                       2067 non-null float64
p3_dog                        2067 non-null bool
dtypes: bool(3), float64(7), int64(7), object(15)
memory usage: 490.5+ KB

In [516]:
#df1[['text', 'name', 'rating_numerator', 'rating_denominator', 'doggo', 'floofer', 'pupper', 'puppo' ]].sample(20)
#np.set_printoptions(linewidth=400)
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:500% !important; }</style>"))

pd.set_option('max_colwidth', 150)


df1[['text', 'name', 'rating_numerator', 'rating_denominator','doggo', 'floofer', 'pupper', 'puppo']].sample(20)

,text,name,rating_numerator,rating_denominator,doggo,floofer,pupper,puppo
1690,This is Fletcher. He's had a ruff night. No more Fireball for Fletcher. 8/10 it'll be over soon pupper https://t.co/tA4WpkI2cw,Fletcher,8,10,None,None,pupper,None
430,This is Lennon. He's a Boopershnoop Pupperdoop. Quite rare. Exceptionally pettable. 12/10 would definitely boop that shnoop https://t.co/fhgP6vSfhX,Lennon,12,10,None,None,None,None
1559,"""Yes hello I'ma just snag this here toasted bagel real quick. carry on."" 9/10 https://t.co/Cuz0Osnekp",None,9,10,None,None,None,None
1626,This pupper just wants a belly rub. This pupper has nothing to do w the tree being sideways now. 10/10 good pupper https://t.co/AyJ7Ohk71f,None,10,10,None,None,pupper,None
2046,This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,an,1,2,None,None,None,None
1268,This is Molly. She's a Peruvian Niddlewog. Loves her new hat. 11/10 would totally pet https://t.co/g4fiS8A9Ab,Molly,11,10,None,None,None,None
2017,These are Peruvian Feldspars. Their names are Cupit and Prencer. Both resemble Rand Paul. Sick outfits 10/10 &amp; 10/10 https://t.co/ZnEMHBsAs1,None,10,10,None,None,None,None
803,Meet Winston. He's pupset because I forgot to mention that it's Canada Day today. 11/10 please forgive me Winston https://t.co/xEY8dbJxnF,Winston,11,10,None,None,None,None
287,This is Alfie. He's your Lyft for tonight. Kindly requests you buckle pup and remain reasonably calm during the ride. 13/10 he must focus https://...,Alfie,13,10,None,None,None,None
1818,This is Bloo. He's a Westminster Croc. Doesn't think Bart deserves legs. Nice flowers. 8/10 https://t.co/IAc1QCczMc,Bloo,8,10,None,None,None,None
1696,This is Chuckles. He is one skeptical pupper. 10/10 stay woke Chuckles https://t.co/ZlcF0TIRW1,Chuckles,10,10,None,None,pupper,None
1882,Meet Dug. Dug fucken loves peaches. 8/10 https://t.co/JtA1TG21Xx,Dug,8,10,None,None,None,None
285,This is Malcolm. He goes from sneaky tongue slip to flirt wink city in a matter of seconds. 12/10 would hug softly https://t.co/rHwfySggqR,Malcolm,12,10,None,None,None,None
163,This is Aspen. She's never tasted a stick so succulent. On the verge of tears. A face of pure appreciation. 12/10 https://t.co/VlyBzOXHEW,Aspen,12,10,None,None,None,None
680,This is Oscar. He has legendary eyebrows and he h*ckin knows it. Curly af too. 12/10 would hug passionately https://t.co/xuxZoObmF0,Oscar,12,10,None,None,None,None
365,Meet Strudel. He's rather h*ckin pupset that your clothes clash. 11/10 click the link to see how u can help Strudel\n\nhttps://t.co/3uxgLz8d0l htt...,Strudel,11,10,None,None,None,None
313,Say hello to Pablo. He's one gorgeous puppo. A true 12/10. Click the link to see why Pablo requests your assistance\n\nhttps://t.co/koHvVQp9bL htt...,Pablo,12,10,None,None,None,puppo
2054,Let's hope this flight isn't Malaysian (lol). What a dog! Almost completely camouflaged. 10/10 I trust this pilot https://t.co/Yk6GHE9tOY,None,10,10,None,None,None,None
1055,This is Vince. He's a Gregorian Flapjeck. White spot on legs almost looks like another dog (whoa). 9/10 rad as hell https://t.co/aczGAV2dK4,Vince,9,10,None,None,None,None
1322,This is Marq. He stole this car. 7/10 wtf Marq? https://t.co/MHScqo5l8c,Marq,7,10,None,None,None,None

In [517]:
df1.name.value_counts()

None        575
a            55
Cooper       10
Lucy         10
Penny        10
Charlie      10
Tucker       10
Oliver       10
Lola          8
Bo            8
Winston       8
Sadie         8
Toby          7
Daisy         7
the           7
an            7
Scout         6
Bella         6
Bailey        6
Stanley       6
Rusty         6
Jax           6
Koda          6
Milo          6
Dave          6
Buddy         5
Oscar         5
Chester       5
Louis         5
Alfie         5
           ...
Brockly       1
Bert          1
Malikai       1
Jeffri        1
Brooks        1
Monkey        1
Bruiser       1
Sailer        1
Huxley        1
Andru         1
Maya          1
Pablo         1
Dwight        1
Nollie        1
Asher         1
Chubbs        1
Blue          1
Arnold        1
Baron         1
Eugene        1
Laika         1
Ralph         1
Winifred      1
Suki          1
Crouton       1
Hall          1
Sky           1
Dug           1
Sonny         1
Samsom        1
Name: name, Length: 936, dtype: int64

In [232]:
df1.rating_numerator.value_counts()
df1.rating_denominator.value_counts()

10     2049
50        3
11        2
80        2
7         1
170       1
150       1
130       1
120       1
110       1
90        1
70        1
40        1
20        1
2         1
Name: rating_denominator, dtype: int64

In [247]:
df1[df1['name'] == 'None'][['text', 'name']].sample(20)

,text,name
1224,"This may be the greatest video I've ever been sent. 4/10 for Charles the puppy, 13/10 overall. (Vid by @stevenxx_) https://t.co/uaJmNgXR2P",None
108,RT @rachaeleasler: these @dog_rates hats are 13/10 bean approved https://t.co/nRCdq4g9gG,None
1327,"""You got any games on your phone"" 7/10 for invasive brown Dalmatian pupper https://t.co/yzGR9xjE9Q",None
1352,Everybody needs to read this. Jack is our first 14/10. Truly heroic pupper https://t.co/3m6bNGXWnM,None
1713,Lots of pups here. All are Judea Hazelnuts. Exceptionally portable. 8/10 for all https://t.co/Pa8EmpDCuI,None
1152,"I'm not sure what's happening here, but it's pretty spectacular. 12/10 for both https://t.co/JKXh0NbBNL",None
1511,"In honor of the new Star Wars movie. Here's Yoda pug. 12/10 pet really well, would I https://t.co/pvjdRn00XH",None
1590,What kind of person sends in a picture without a dog in it? 1/10 just because that's a nice table https://t.co/RDXCfk8hK0,None
900,*faints* 12/10 perfection in pupper form https://t.co/t6TxTwTLEK,None
1915,Fascinating dog here. Loves beach. Oddly long nose for dog. Massive ass paws. Hard to cuddle w. 3/10 would still pet https://t.co/IiSdmhkC5N,None
892,Just wanted to share this super rare Rainbow Floofer in case you guys haven't seen it yet. 13/10 colorful af https://t.co/CaG9MzD3WT,None
1127,"""YOU CAN'T HANDLE THE TRUTH"" both 10/10 https://t.co/ZvxdB4i9AG",None
1604,When your entire life is crumbling before you and you're trying really hard to hold your shit together.\n10/10 https://t.co/vqFkgYPCW8,None
1332,This pupper's New Year's resolution was to become a Hershey's kiss. 11/10 she's super pumped about it https://t.co/D7jYj6vdwC,None
704,RT @dog_rates: Oh. My. God. 13/10 magical af https://t.co/Ezu6jQrKAZ,None
140,Here we have an exotic dog. Good at ukulele. Fashionable af. Has two more arms if needed. Is blue. Knows what 'ohana means. 13/10 would pet https:...,None
1771,Tfw she says hello from the other side. 9/10 https://t.co/lS1TIDagIb,None
1682,IT'S SO SMALL ERMERGERF 11/10 https://t.co/dNUbKOSiWW,None
1228,"This pupper only appears through the hole of a Funyun. Much like Phineas, this one is also mysterious af. 10/10 https://t.co/SQsEBWxPyG",None
749,When ur older siblings get to play in the deep end but dad says ur not old enough. Maybe one day puppo. All 10/10 https://t.co/JrDAzMhwG9,None

#### Dirty Data Issues:
1. Some retweets present (RT @ ...)
2. Some replies to other users present   
3. 55 names 'a'
4. 7 names 'an' 
5. 7 names 'the' 
6. Some none recordings when a name is available: Index 240: Name is recorded as None when name should be Atlas  , Index 1414: Name is recorded as None when should be Thea, Index 122, Index 129
7. Several rows with rating denominators wrong (962, 996, 1400, 2046, 871)  
8. 2 rows with rating denominator below 10 (likely mistake)

#### Untidy Data Issues:
1. Dogger, floofer, pupper, and puppo seperate columns when should be in one column (stage). 
2. Date is combined into one column, should be separate.

## Fix Issues

1. Remove the retweets by selecting only the null retweeted status ids

In [518]:
df1 = df1[df1.retweeted_status_id.isnull()]

In [519]:
#test
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1992 entries, 0 to 2066
Data columns (total 32 columns):
tweet_id                      1992 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     1992 non-null object
source                        1992 non-null object
text                          1992 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 1992 non-null object
rating_numerator              1992 non-null int64
rating_denominator            1992 non-null int64
name                          1992 non-null object
doggo                         1992 non-null object
floofer                       1992 non-null object
pupper                        1992 non-null object
puppo                         1992 non-null object
date                          1992 non-null object
retweet_cnt                   1992 non-null int64
favorite_cnt                  1992 non-null int64
followers                     1992 non-null int64
jpg_url                       1992 non-null object
img_num                       1992 non-null int64
p1                            1992 non-null object
p1_conf                       1992 non-null float64
p1_dog                        1992 non-null bool
p2                            1992 non-null object
p2_conf                       1992 non-null float64
p2_dog                        1992 non-null bool
p3                            1992 non-null object
p3_conf                       1992 non-null float64
p3_dog                        1992 non-null bool
dtypes: bool(3), float64(7), int64(7), object(15)
memory usage: 472.7+ KB

2. Remove the replies by selecting only null in_reply_to_user_id

In [520]:
df1 = df1[df1.in_reply_to_user_id.isnull()]

In [521]:
#test
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1969 entries, 0 to 2066
Data columns (total 32 columns):
tweet_id                      1969 non-null int64
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     1969 non-null object
source                        1969 non-null object
text                          1969 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 1969 non-null object
rating_numerator              1969 non-null int64
rating_denominator            1969 non-null int64
name                          1969 non-null object
doggo                         1969 non-null object
floofer                       1969 non-null object
pupper                        1969 non-null object
puppo                         1969 non-null object
date                          1969 non-null object
retweet_cnt                   1969 non-null int64
favorite_cnt                  1969 non-null int64
followers                     1969 non-null int64
jpg_url                       1969 non-null object
img_num                       1969 non-null int64
p1                            1969 non-null object
p1_conf                       1969 non-null float64
p1_dog                        1969 non-null bool
p2                            1969 non-null object
p2_conf                       1969 non-null float64
p2_dog                        1969 non-null bool
p3                            1969 non-null object
p3_conf                       1969 non-null float64
p3_dog                        1969 non-null bool
dtypes: bool(3), float64(7), int64(7), object(15)
memory usage: 467.3+ KB

3. Fix the 55 names that were assigned 'a' by replacing the with their correct name.

In [522]:
df1[df1['name'] =='a'][['text', 'name']]

,text,name
50,Here is a pupper approaching maximum borkdrive. Zooming at never before seen speeds. 14/10 paw-inspiring af \n(IG: puffie_the_chow) https://t.co/g...,a
519,Here is a perfect example of someone who has their priorities in order. 13/10 for both owner and Forrest https://t.co/LRyMrU7Wfq,a
642,Guys this is getting so out of hand. We only rate dogs. This is a Galapagos Speed Panda. Pls only send dogs... 10/10 https://t.co/8lpAGaZRFn,a
817,This is a mighty rare blue-tailed hammer sherk. Human almost lost a limb trying to take these. Be careful guys. 8/10 https://t.co/TGenMeXreW,a
819,Viewer discretion is advised. This is a terrible attack in progress. Not even in water (tragic af). 4/10 bad sherk https://t.co/L3U0j14N5R,a
828,This is a carrot. We only rate dogs. Please only send in dogs. You all really should know this by now ...11/10 https://t.co/9e48aPrBm2,a
854,This is a very rare Great Alaskan Bush Pupper. Hard to stumble upon without spooking. 12/10 would pet passionately https://t.co/xOBKCdpzaa,a
990,People please. This is a Deadly Mediterranean Plop T-Rex. We only rate dogs. Only send in dogs. Thanks you... 11/10 https://t.co/2ATDsgHD4n,a
1000,This is a taco. We only rate dogs. Please only send in dogs. Dogs are what we rate. Not tacos. Thank you... 10/10 https://t.co/cxl6xGY8B9,a
1117,Here is a heartbreaking scene of an incredible pupper being laid to rest. 10/10 RIP pupper https://t.co/81mvJ0rGRu,a
1126,Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,a
1136,This is a Butternut Cumberfloof. It's not windy they just look like that. 11/10 back at it again with the red socks https://t.co/hMjzhdUHaW,a
1142,This is a Wild Tuscan Poofwiggle. Careful not to startle. Rare tongue slip. One eye magical. 12/10 would def pet https://t.co/4EnShAQjv6,a
1154,"""Pupper is a present to world. Here is a bow for pupper."" 12/10 precious as hell https://t.co/ItSsE92gCW",a
1257,This is a rare Arctic Wubberfloof. Unamused by the happenings. No longer has the appetites. 12/10 would totally hug https://t.co/krvbacIX0N,a
1469,Guys this really needs to stop. We've been over this way too many times. This is a giraffe. We only rate dogs.. 7/10 https://t.co/yavgkHYPOC,a
1512,This is a dog swinging. I really enjoyed it so I hope you all do as well. 11/10 https://t.co/Ozo9KHTRND,a
1574,This is a Sizzlin Menorah spaniel from Brooklyn named Wylie. Lovable eyes. Chiller as hell. 10/10 and I'm out.. poof https://t.co/7E0AiJXPmI,a
1575,Seriously guys?! Only send in dogs. I only rate dogs. This is a baby black bear... 11/10 https://t.co/H7kpabTfLj,a
1598,C'mon guys. We've been over this. We only rate dogs. This is a cow. Please only submit dogs. Thank you...... 9/10 https://t.co/WjcELNEqN2,a
1599,This is a fluffy albino Bacardi Columbia mix. Excellent at the tweets. 11/10 would hug gently https://t.co/diboDRUuEI,a
1640,This is a Sagitariot Baklava mix. Loves her new hat. 11/10 radiant pup https://t.co/Bko5kFJYUU,a
1657,This is a heavily opinionated dog. Loves walls. Nobody knows how the hair works. Always ready for a kiss. 4/10 https://t.co/dFiaKZ9cDl,a
1671,This is a Lofted Aphrodisiac Terrier named Kip. Big fan of bed n breakfasts. Fits perfectly. 10/10 would pet firmly https://t.co/gKlLpNzIl3,a
1710,This is a baby Rand Paul. Curls for days. 11/10 would cuddle the hell out of https://t.co/xHXNaPAYRe,a
1750,This is a Tuscaloosa Alcatraz named Jacob (Yacb). Loves to sit in swing. Stellar tongue. 11/10 look at his feet https://t.co/2IslQ8ZSc7,a
1781,This is a Helvetica Listerine named Rufus. This time Rufus will be ready for the UPS guy. He'll never expect it 9/10 https://t.co/34OhVhMkVr,a
1831,This is a Deciduous Trimester mix named Spork. Only 1 ear works. No seat belt. Incredibly reckless. 9/10 still cute https://t.co/CtuJoLHiDo,a
1840,This is a Rich Mahogany Seltzer named Cherokee. Just got destroyed by a snowball. Isn't very happy about it. 9/10 https://t.co/98ZBi6o4dj,a
1843,This is a Speckled Cauliflower Yosemite named Hemry. He's terrified of intruder dog. Not one bit comfortable. 9/10 https://t.co/yV3Qgjh8iN,a
1861,This is a spotted Lipitor Rumpelstiltskin named Alphred. He can't wait for the Turkey. 10/10 would pet really well https://t.co/6GUGO7azNX,a
1867,This is a brave dog. Excellent free climber. Trying to get closer to God. Not very loyal though. Doesn't bark. 5/10 https://t.co/ODnILTr4QM,a
1875,This is a Coriander Baton Rouge named Alfredo. Loves to cuddle with smaller well-dressed dog. 10/10 would hug lots https://t.co/eCRdwouKCl,a
1904,This is a Slovakian Helter Skelter Feta named Leroi. Likes to skip on roofs. Good traction. Much balance. 10/10 wow! https://t.co/Dmy2mY2Qj5,a
1911,This is a wild Toblerone from Papua New Guinea. Mouth always open. Addicted to hay. Acts blind. 7/10 handsome dog https://t.co/IGmVbz07tZ,a
1924,Here is a horned dog. Much grace. Can jump over moons (dam!). Paws not soft. Bad at barking. 7/10 can still pet tho https://t.co/2Su7gmsnZm,a
1930,This is a Birmingham Quagmire named Chuk. Loves to relax and watch the game while sippin on that iced mocha. 10/10 https://t.co/HvNg9JWxFt,a
1934,Here is a mother dog caring for her pups. Snazzy red mohawk. Doesn't wag tail. Pups look confused. Overall 4/10 https://t.co/YOHe6lf09m,a
1947,This is a Trans Siberian Kellogg named Alfonso. Huge ass eyeballs. Actually Dobby from Harry Potter. 7/10 https://t.co/XpseHBlAAb,a
1961,This is a Shotokon Macadamia mix named Cheryl. Sophisticated af. Looks like a disappointed librarian. Shh (lol) 9/10 https://t.co/J4GnJ5Swba,a
1967,This is a rare Hungarian Pinot named Jessiga. She is either mid-stroke or got stuck in the washing machine. 8/10 https://t.co/ZU0i0KJyqD,a
1976,This is a southwest Coriander named Klint. Hat looks expensive. Still on house arrest :(\n9/10 https://t.co/IQTOMqDUIe,a
1985,This is a northern Wahoo named Kohl. He runs this town. Chases tumbleweeds. Draws gun wicked fast. 11/10 legendary https://t.co/J4vn2rOYFk,a
1999,This is a Dasani Kingfisher from Maine. His name is Daryl. Daryl doesn't like being swallowed by a panda. 8/10 https://t.co/jpaeu6LNmW,a
2015,This is a curly Ticonderoga named Pepe. No feet. Loves to jet ski. 11/10 would hug until forever https://t.co/cyDfaK8NBc,a
2022,This is a purebred Bacardi named Octaviath. Can shoot spaghetti out of mouth. 10/10 https://t.co/uEvsGLOFHa,a
2025,This is a golden Buckminsterfullerene named Johm. Drives trucks. Lumberjack (?). Enjoys wall. 8/10 would hug softly https://t.co/uQbZJM2DQB,a
2038,This is a southern Vesuvius bumblegruff. Can drive a truck (wow). Made friends with 5 other nifty dogs (neat). 7/10 https://t.co/LopTBkKa8h,a
2045,This is a funny dog. Weird toes. Won't come down. Loves branch. Refuses to eat his food. Hard to cuddle with. 3/10 https://t.co/IIXis0zta0,a
2058,My oh my. This is a rare blond Canadian terrier on wheels. Only $8.98. Rather docile. 9/10 very rare https://t.co/yWBqbrzy8O,a
2059,Here is a Siberian heavily armored polar bear mix. Strong owner. 10/10 I would do unspeakable things to pet this dog https://t.co/rdivxLiqEt,a
2061,This is a truly beautiful English Wilson Staff retriever. Has a nice phone. Privileged. 10/10 would trade lives with https://t.co/fvIbQfHjIe,a
2063,This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx,a
2064,Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR,a
2065,This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI,a

In [ ]:
#many of these have a name that follows the text 'named'- use this name or just replace with None.

In [523]:
a_name = df1[df1['name'] == 'a']
a_name.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
50,881536004380872706,NaN,NaN,2017-07-02 15:32:16 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a pupper approaching maximum borkdrive. Zooming at never before seen speeds. 14/10 paw-inspiring af \n(IG: puffie_the_chow) https://t.co/g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/881536004380872706/video/1,...,1,Samoyed,0.281463,True,Angora,0.272066,False,Persian_cat,0.114854,False
519,792913359805018113,NaN,NaN,2016-10-31 02:17:31 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a perfect example of someone who has their priorities in order. 13/10 for both owner and Forrest https://t.co/LRyMrU7Wfq,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/792913359805018113/photo/1,https://twitter.com/dog_rates/status/792913359805018113/photo/1,https://twitter.co...",...,4,web_site,0.226716,False,lighter,0.081941,False,switch,0.039009,False
642,772581559778025472,NaN,NaN,2016-09-04 23:46:12 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Guys this is getting so out of hand. We only rate dogs. This is a Galapagos Speed Panda. Pls only send dogs... 10/10 https://t.co/8lpAGaZRFn,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/772581559778025472/photo/1,https://twitter.com/dog_rates/status/772581559778025472/photo/1,https://twitter.co...",...,3,Newfoundland,0.574345,True,Border_collie,0.128352,True,Saint_Bernard,0.059476,True
817,747885874273214464,NaN,NaN,2016-06-28 20:14:22 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a mighty rare blue-tailed hammer sherk. Human almost lost a limb trying to take these. Be careful guys. 8/10 https://t.co/TGenMeXreW,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/747885874273214464/photo/1,https://twitter.com/dog_rates/status/747885874273214464/photo/1",...,1,kuvasz,0.408450,True,Samoyed,0.141330,True,pug,0.083018,True
819,747816857231626240,NaN,NaN,2016-06-28 15:40:07 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Viewer discretion is advised. This is a terrible attack in progress. Not even in water (tragic af). 4/10 bad sherk https://t.co/L3U0j14N5R,NaN,NaN,NaN,https://twitter.com/dog_rates/status/747816857231626240/photo/1,...,1,Pembroke,0.768923,True,Chihuahua,0.029053,True,Shetland_sheepdog,0.029035,True

In [524]:
a_new = a_name[a_name['text'].str.contains('name*')]
a_new

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1257,692187005137076224,NaN,NaN,2016-01-27 03:26:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a rare Arctic Wubberfloof. Unamused by the happenings. No longer has the appetites. 12/10 would totally hug https://t.co/krvbacIX0N,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/692187005137076224/photo/1,https://twitter.com/dog_rates/status/692187005137076224/photo/1,https://twitter.co...",...,2,Siberian_husky,0.810592,True,malamute,0.119745,True,Eskimo_dog,0.029265,True
1574,675706639471788032,NaN,NaN,2015-12-12 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Sizzlin Menorah spaniel from Brooklyn named Wylie. Lovable eyes. Chiller as hell. 10/10 and I'm out.. poof https://t.co/7E0AiJXPmI,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675706639471788032/photo/1,...,1,English_springer,0.990300,True,Welsh_springer_spaniel,0.002080,True,cocker_spaniel,0.002014,True
1671,673636718965334016,NaN,NaN,2015-12-06 22:54:44 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Lofted Aphrodisiac Terrier named Kip. Big fan of bed n breakfasts. Fits perfectly. 10/10 would pet firmly https://t.co/gKlLpNzIl3,NaN,NaN,NaN,https://twitter.com/dog_rates/status/673636718965334016/photo/1,...,1,wombat,0.880257,False,corn,0.019421,False,pug,0.019044,True
1750,671743150407421952,NaN,NaN,2015-12-01 17:30:22 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Tuscaloosa Alcatraz named Jacob (Yacb). Loves to sit in swing. Stellar tongue. 11/10 look at his feet https://t.co/2IslQ8ZSc7,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671743150407421952/photo/1,...,1,toy_poodle,0.419427,True,miniature_poodle,0.237067,True,swing,0.104193,False
1781,671147085991960577,NaN,NaN,2015-11-30 02:01:49 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Helvetica Listerine named Rufus. This time Rufus will be ready for the UPS guy. He'll never expect it 9/10 https://t.co/34OhVhMkVr,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671147085991960577/photo/1,...,1,Yorkshire_terrier,0.467202,True,cairn,0.440122,True,silky_terrier,0.058690,True
1831,670427002554466305,NaN,NaN,2015-11-28 02:20:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Deciduous Trimester mix named Spork. Only 1 ear works. No seat belt. Incredibly reckless. 9/10 still cute https://t.co/CtuJoLHiDo,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670427002554466305/photo/1,...,1,seat_belt,0.952258,False,toy_terrier,0.038872,True,beagle,0.003226,True
1840,670361874861563904,NaN,NaN,2015-11-27 22:01:40 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Rich Mahogany Seltzer named Cherokee. Just got destroyed by a snowball. Isn't very happy about it. 9/10 https://t.co/98ZBi6o4dj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670361874861563904/photo/1,...,1,platypus,0.974075,False,spotted_salamander,0.011068,False,bison,0.003897,False
1843,670303360680108032,NaN,NaN,2015-11-27 18:09:09 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Speckled Cauliflower Yosemite named Hemry. He's terrified of intruder dog. Not one bit comfortable. 9/10 https://t.co/yV3Qgjh8iN,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670303360680108032/photo/1,...,1,Shetland_sheepdog,0.380278,True,Cardigan,0.342806,True,guinea_pig,0.156249,False
1861,669923323644657664,NaN,NaN,2015-11-26 16:59:01 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a spotted Lipitor Rumpelstiltskin named Alphred. He can't wait for the Turkey. 10/10 would pet really well https://t.co/6GUGO7azNX,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669923323644657664/photo/1,...,1,car_mirror,0.343063,False,seat_belt,0.110289,False,wing,0.080148,False
1875,669564461267722241,NaN,NaN,2015-11-25 17:13:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Coriander Baton Rouge named Alfredo. Loves to cuddle with smaller well-dressed dog. 10/10 would hug lots https://t.co/eCRdwouKCl,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669564461267722241/photo/1,...,1,toy_poodle,0.623685,True,miniature_poodle,0.259920,True,standard_poodle,0.082530,True
1904,668955713004314625,NaN,NaN,2015-11-24 00:54:05 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Slovakian Helter Skelter Feta named Leroi. Likes to skip on roofs. Good traction. Much balance. 10/10 wow! https://t.co/Dmy2mY2Qj5,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668955713004314625/photo/1,...,1,cocker_spaniel,0.367492,True,Lakeland_terrier,0.272621,True,soft-coated_wheaten_terrier,0.067006,True
1930,668507509523615744,NaN,NaN,2015-11-22 19:13:05 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Birmingham Quagmire named Chuk. Loves to relax and watch the game while sippin on that iced mocha. 10/10 https://t.co/HvNg9JWxFt,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668507509523615744/photo/1,...,1,basenji,0.055379,True,Shetland_sheepdog,0.054322,True,whippet,0.051913,True
1947,668171859951755264,NaN,NaN,2015-11-21 20:59:20 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Trans Siberian Kellogg named Alfonso. Huge ass eyeballs. Actually Dobby from Harry Potter. 7/10 https://t.co/XpseHBlAAb,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668171859951755264/photo/1,...,1,Chihuahua,0.664834,True,cowboy_boot,0.060343,False,giant_panda,0.059838,False
1961,667861340749471744,NaN,NaN,2015-11-21 00:25:26 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Shotokon Macadamia mix named Cheryl. Sophisticated af. Looks like a disappointed librarian. Shh (lol) 9/10 https://t.co/J4GnJ5Swba,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667861340749471744/photo/1,...,1,malamute,0.967275,True,Siberian_husky,0.016168,True,Eskimo_dog,0.011277,True
1967,667773195014021121,NaN,NaN,2015-11-20 18:35:10 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Twitter Web Client</a>",This is a rare Hungarian Pinot named Jessiga. She is either mid-stroke or got stuck in the washing machine. 8/10 https://t.co/ZU0i0KJyqD,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667773195014021121/photo/1,...,1,West_Highland_white_terrier,0.360465,True,pug,0.093494,True,ice_bear,0.069038,False
1976,667538891197542400,NaN,NaN,2015-11-20 03:04:08 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Twitter Web Client</a>",This is a southwest Coriander named Klint. Hat looks expensive. Still on house arrest :(\n9/10 https://t.co/IQTOMqDUIe,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667538891197542400/photo/1,...,1,Yorkshire_terrier,0.618957,True,silky_terrier,0.300313,True,Australian_terrier,0.053412,True
1985,667470559035432960,NaN,NaN,2015-11-19 22:32:36 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Twitter Web Client</a>",This is a northern Wahoo named Kohl. He runs this town. Chases tumbleweeds. Draws gun wicked fast. 11/10 legendary https://t.co/J4vn2rOYFk,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667470559035432960/photo/1,...,1,toy_poodle,0.304175,True,pug,0.223427,True,Lakeland_terrier,0.073316,True
1999,667177989038297088,NaN,NaN,2015-11-19 03:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Dasani Kingfisher from Maine. His name is Daryl. Daryl doesn't like being swallowed by a panda. 8/10 https://t.co/jpaeu6LNmW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667177989038297088/photo/1,...,1,vizsla,0.259249,True,Chesapeake_Bay_retriever,0.176293,True,Weimaraner,0.112369,True
2015,666983947667116034,NaN,NaN,2015-11-18 14:18:59 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a curly Ticonderoga named Pepe. No feet. Loves to jet ski. 11/10 would hug until forever https://t.co/cyDfaK8NBc,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666983947667116034/photo/1,...,1,swab,0.589446,False,chain_saw,0.190142,False,wig,0.034510,False
2022,666781792255496192,NaN,NaN,2015-11-18 00:55:42 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a purebred Bacardi named Octaviath. Can shoot spaghetti out of mouth. 10/10 https://t.co/uEvsGLOFHa,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666781792255496192/photo/1,...,1,Italian_greyhound,0.618316,True,Weimaraner,0.151363,True,vizsla,0.085989,True
2025,666701168228331520,NaN,NaN,2015-11-17 19:35:19 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a golden Buckminsterfullerene named Johm. Drives trucks. Lumberjack (?). Enjoys wall. 8/10 would hug softly https://t.co/uQbZJM2DQB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666701168228331520/photo/1,...,1,Labrador_retriever,0.887707,True,Chihuahua,0.029307,True,French_bulldog,0.020756,True

In [536]:
#new = a_new['text'].str.partition('named')[2].str.split('.')[0:]

new_names = []
for index, row in a_new.iterrows():
    
    string = str(row['text'])
    befor_keyowrd, keyword, after_keyword = string.partition('named')
    name = after_keyword.split('.')[0]
    new_names.append({'index': index, 'name': name})
    


new_names = pd.DataFrame(new_names)
new_names = new_names.set_index('index')
new_names

                 name
index
1257
1574            Wylie
1671              Kip
1750    Jacob (Yacb)
1781            Rufus
1831            Spork
1840         Cherokee
1843            Hemry
1861          Alphred
1875          Alfredo
1904            Leroi
1930             Chuk
1947          Alfonso
1961           Cheryl
1967          Jessiga
1976            Klint
1985             Kohl
1999
2015             Pepe
2022        Octaviath
2025             Johm

Now merge this to big dataset

In [537]:
df1.update(new_names)

In [538]:
#test this
df1[df1['name'] == 'a']
#works

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
50,881536004380872706,NaN,NaN,2017-07-02 15:32:16 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a pupper approaching maximum borkdrive. Zooming at never before seen speeds. 14/10 paw-inspiring af \n(IG: puffie_the_chow) https://t.co/g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/881536004380872706/video/1,...,1,Samoyed,0.281463,True,Angora,0.272066,False,Persian_cat,0.114854,False
519,792913359805018113,NaN,NaN,2016-10-31 02:17:31 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a perfect example of someone who has their priorities in order. 13/10 for both owner and Forrest https://t.co/LRyMrU7Wfq,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/792913359805018113/photo/1,https://twitter.com/dog_rates/status/792913359805018113/photo/1,https://twitter.co...",...,4,web_site,0.226716,False,lighter,0.081941,False,switch,0.039009,False
642,772581559778025472,NaN,NaN,2016-09-04 23:46:12 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Guys this is getting so out of hand. We only rate dogs. This is a Galapagos Speed Panda. Pls only send dogs... 10/10 https://t.co/8lpAGaZRFn,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/772581559778025472/photo/1,https://twitter.com/dog_rates/status/772581559778025472/photo/1,https://twitter.co...",...,3,Newfoundland,0.574345,True,Border_collie,0.128352,True,Saint_Bernard,0.059476,True
817,747885874273214464,NaN,NaN,2016-06-28 20:14:22 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a mighty rare blue-tailed hammer sherk. Human almost lost a limb trying to take these. Be careful guys. 8/10 https://t.co/TGenMeXreW,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/747885874273214464/photo/1,https://twitter.com/dog_rates/status/747885874273214464/photo/1",...,1,kuvasz,0.408450,True,Samoyed,0.141330,True,pug,0.083018,True
819,747816857231626240,NaN,NaN,2016-06-28 15:40:07 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Viewer discretion is advised. This is a terrible attack in progress. Not even in water (tragic af). 4/10 bad sherk https://t.co/L3U0j14N5R,NaN,NaN,NaN,https://twitter.com/dog_rates/status/747816857231626240/photo/1,...,1,Pembroke,0.768923,True,Chihuahua,0.029053,True,Shetland_sheepdog,0.029035,True
828,746872823977771008,NaN,NaN,2016-06-26 01:08:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a carrot. We only rate dogs. Please only send in dogs. You all really should know this by now ...11/10 https://t.co/9e48aPrBm2,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/746872823977771008/photo/1,https://twitter.com/dog_rates/status/746872823977771008/photo/1",...,1,Pembroke,0.540201,True,beagle,0.207835,True,Italian_greyhound,0.043565,True
854,743222593470234624,NaN,NaN,2016-06-15 23:24:09 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a very rare Great Alaskan Bush Pupper. Hard to stumble upon without spooking. 12/10 would pet passionately https://t.co/xOBKCdpzaa,NaN,NaN,NaN,https://twitter.com/dog_rates/status/743222593470234624/photo/1,...,1,kuvasz,0.350629,True,soft-coated_wheaten_terrier,0.182782,True,golden_retriever,0.087662,True
990,717537687239008257,NaN,NaN,2016-04-06 02:21:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",People please. This is a Deadly Mediterranean Plop T-Rex. We only rate dogs. Only send in dogs. Thanks you... 11/10 https://t.co/2ATDsgHD4n,NaN,NaN,NaN,https://twitter.com/dog_rates/status/717537687239008257/photo/1,...,1,golden_retriever,0.779356,True,Labrador_retriever,0.052511,True,kuvasz,0.049811,True
1000,715733265223708672,NaN,NaN,2016-04-01 02:51:22 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a taco. We only rate dogs. Please only send in dogs. Dogs are what we rate. Not tacos. Thank you... 10/10 https://t.co/cxl6xGY8B9,NaN,NaN,NaN,https://twitter.com/dog_rates/status/715733265223708672/photo/1,...,1,Dandie_Dinmont,0.740229,True,miniature_poodle,0.081915,True,toy_poodle,0.063748,True
1117,704859558691414016,NaN,NaN,2016-03-02 02:43:09 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a heartbreaking scene of an incredible pupper being laid to rest. 10/10 RIP pupper https://t.co/81mvJ0rGRu,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704859558691414016/photo/1,...,1,pug,0.284428,True,teddy,0.156339,False,mitten,0.138915,False
1126,704054845121142784,NaN,NaN,2016-02-28 21:25:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704054845121142784/photo/1,...,1,Great_Pyrenees,0.667939,True,kuvasz,0.228764,True,golden_retriever,0.043885,True
1136,703079050210877440,NaN,NaN,2016-02-26 04:48:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Butternut Cumberfloof. It's not windy they just look like that. 11/10 back at it again with the red socks https://t.co/hMjzhdUHaW,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/703079050210877440/photo/1,https://twitter.com/dog_rates/status/703079050210877440/photo/1",...,2,Pembroke,0.778503,True,Shetland_sheepdog,0.093834,True,Cardigan,0.060296,True
1142,702539513671897089,NaN,NaN,2016-02-24 17:04:07 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Wild Tuscan Poofwiggle. Careful not to startle. Rare tongue slip. One eye magical. 12/10 would def pet https://t.co/4EnShAQjv6,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/702539513671897089/photo/1,https://twitter.com/dog_rates/status/702539513671897089/photo/1,https://twitter.co...",...,3,Pomeranian,0.714367,True,Shih-Tzu,0.040574,True,silky_terrier,0.032511,True
1154,700864154249383937,NaN,NaN,2016-02-20 02:06:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","""Pupper is a present to world. Here is a bow for pupper."" 12/10 precious as hell https://t.co/ItSsE92gCW",NaN,NaN,NaN,https://twitter.com/dog_rates/status/700864154249383937/photo/1,...,1,kuvasz,0.805857,True,Great_Pyrenees,0.187272,True,Samoyed,0.003491,True
1469,679530280114372609,NaN,NaN,2015-12-23 05:13:38 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Guys this really needs to stop. We've been over this way too many times. This is a giraffe. We only rate dogs.. 7/10 https://t.co/yavgkHYPOC,NaN,NaN,NaN,https://twitter.com/dog_rates/status/679530280114372609/photo/1,...,1,dalmatian,0.750256,True,jaguar,0.169007,False,zebra,0.006481,False
1512,677644091929329666,NaN,NaN,2015-12-18 00:18:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a dog swinging. I really enjoyed it so I hope you all do as well. 11/10 https://t.co/Ozo9KHTRND,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677644091929329666/video/1,...,1,Chihuahua,0.626236,True,Italian_greyhound,0.128483,True,swing,0.059840,False
1575,675534494439489536,NaN,NaN,2015-12-12 04:35:48 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Seriously guys?! Only send in dogs. I only rate dogs. This is a baby black bear... 11/10 https://t.co/H7kpabTfLj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675534494439489536/photo/1,...,1,chow,0.749368,True,schipperke,0.133738,True,Newfoundland,0.049914,True
1598,675109292475830276,NaN,NaN,2015-12-11 00:26:12 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",C'mon guys. We've been over this. We only rate dogs. This is a cow. Please only submit dogs. Thank you...... 9/10 https://t.co/WjcELNEqN2,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675109292475830276/photo/1,...,1,dalmatian,0.989519,True,English_setter,0.005258,True,German_short-haired_pointer,0.001443,True
1599,675047298674663426,NaN,NaN,2015-12-10 20:19:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a fluffy albino Bacardi Columbia mix. Excellent at the tweets. 11/10 would hug gently https://t.co/diboDRUuEI,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675047298674663426/photo/1,...,1,Samoyed,0.978007,True,chow,0.007121,True,Pomeranian,0.006398,True
1640,674082852460433408,NaN,NaN,2015-12-08 04:27:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Sagitariot Baklava mix. Loves her new hat. 11/10 radiant pup https://t.co/Bko5kFJYUU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674082852460433408/photo/1,...,1,Pomeranian,0.666957,True,Shetland_sheepdog,0.028019,True,ski_mask,0.020683,False
1657,673715861853720576,NaN,NaN,2015-12-07 04:09:13 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a heavily opinionated dog. Loves walls. Nobody knows how the hair works. Always ready for a kiss. 4/10 https://t.co/dFiaKZ9cDl,NaN,NaN,NaN,https://twitter.com/dog_rates/status/673715861853720576/photo/1,...,1,suit,0.404115,False,bow_tie,0.294683,False,Windsor_tie,0.132701,False
1710,672604026190569472,NaN,NaN,2015-12-04 02:31:10 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a baby Rand Paul. Curls for days. 11/10 would cuddle the hell out of https://t.co/xHXNaPAYRe,NaN,NaN,NaN,https://twitter.com/dog_rates/status/672604026190569472/photo/1,...,1,toy_poodle,0.820158,True,miniature_poodle,0.178404,True,toilet_tissue,0.000291,False
1867,669661792646373376,NaN,NaN,2015-11-25 23:39:47 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a brave dog. Excellent free climber. Trying to get closer to God. Not very loyal though. Doesn't bark. 5/10 https://t.co/ODnILTr4QM,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669661792646373376/photo/1,...,1,weasel,0.262802,False,Siamese_cat,0.148263,False,hamster,0.116374,False
1911,668815180734689280,NaN,NaN,2015-11-23 15:35:39 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a wild Toblerone from Papua New Guinea. Mouth always open. Addicted to hay. Acts blind. 7/10 handsome dog https://t.co/IGmVbz07tZ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668815180734689280/photo/1,...,1,redbone,0.461172,True,Italian_greyhound,0.270733,True,miniature_pinscher,0.109752,True
1924,668614819948453888,NaN,NaN,2015-11-23 02:19:29 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a horned dog. Much grace. Can jump over moons (dam!). Paws not soft. Bad at barking. 7/10 can still pet tho https://t.co/2Su7gmsnZm,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668614819948453888/photo/1,...,1,bustard,0.380772,False,pelican,0.100554,False,crane,0.084713,False
1934,668466899341221888,NaN,NaN,2015-11-22 16:31:42 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a mother dog caring for her pups. Snazzy red mohawk. Doesn't wag tail. Pups look confused. Overall 4/10 https://t.co/YOHe6lf09m,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668466899341221888/photo/1,...,1,shopping_basket,0.398361,False,hamper,0.363222,False,bassinet,0.084173,False
2038,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a southern Vesuvius bumblegruff. Can drive a truck (wow). Made friends with 5 other nifty dogs (neat). 7/10 https://t.co/LopTBkKa8h,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126856765440/photo/1,...,1,black-and-tan_coonhound,0.529139,True,bloodhound,0.244220,True,flat-coated_retriever,0.173810,True
2045,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a funny dog. Weird toes. Won't come down. Loves branch. Refuses to eat his food. Hard to cuddle with. 3/10 https://t.co/IIXis0zta0,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911632134144/photo/1,...,1,three-toed_sloth,0.914671,False,otter,0.015250,False,great_grey_owl,0.013207,False
2058,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",My oh my. This is a rare blond Canadian terrier on wheels. Only $8.98. Rather docile. 9/10 very rare https://t.co/yWBqbrzy8O,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090499244032/photo/1,...,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
2059,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a Siberian heavily armored polar bear mix. Strong owner. 10/10 I would do unspeakable things to pet this dog https://t.co/rdivxLiqEt,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525042405380/photo/1,...,1,chow,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False
2061,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a truly beautiful English Wilson Staff retriever. Has a nice phone. Privileged. 10/10 would trade lives with https://t.co/fvIbQfHjIe,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758794694657/photo/1,...,1,Bernese_mountain_dog,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True
2063,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226329800704/photo/1,...,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
2064,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412701032449/photo/1,...,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
2065,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285002620928/photo/1,...,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True

Replace the remaining entries where names = 'a' to name = "None"

In [540]:
df1[df1['name'] == 'a'] = 'None'

In [542]:
#test this
df1[df1['name'] == 'a']
df1.name.value_counts()
#WORKS!

None        555
Cooper       10
Charlie      10
Lucy         10
Penny         9
Tucker        9
Oliver        9
Sadie         8
Winston       8
the           7
Toby          7
Lola          7
Daisy         7
Bella         6
Bo            6
Stanley       6
an            6
Leo           5
Buddy         5
Jax           5
Bailey        5
Oscar         5
Rusty         5
Louis         5
Dave          5
Scout         5
Koda          5
Milo          5
Chester       5
Gus           4
           ...
Pete          1
Simba         1
Edmund        1
Butters       1
Sky           1
Crouton       1
Tassy         1
Suki          1
Cermet        1
Lilly         1
Kollin        1
Patch         1
Mingus        1
Skittles      1
Andru         1
Maya          1
Pablo         1
Dwight        1
Nollie        1
Asher         1
Chubbs        1
Blue          1
Arnold        1
Chase         1
Huxley        1
Baron         1
Laika         1
Ralph         1
Winifred      1
Tommy         1
Name: name, Length: 948, dtype: int64

4. Fix names with 'an'

In [545]:
df1.loc[1917, 'name'] = 'Berta'
df1[df1['name'] == 'an'] = 'None'

In [546]:
#test
df1[df1['name'] == 'an']
#works

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo, date, retweet_cnt, favorite_cnt, followers, jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog]
Index: []

[0 rows x 32 columns]

5. Fix names with 'the'

In [548]:
df1[df1['name'] == 'the']

,text,name
1281,Stop sending in lobsters. This is the final warning. We only rate dogs. Thank you... 9/10 https://t.co/B9ZXXKJYNx,the
1347,This is the newly formed pupper a capella group. They're just starting out but I see tons of potential. 8/10 for all https://t.co/wbAcvFoNtn,the
1523,This is the happiest pupper I've ever seen. 10/10 would trade lives with https://t.co/ep8ATEJwRb,the
1540,This is the saddest/sweetest/best picture I've been sent. 12/10 https://t.co/vQ2Lw1BLBF,the
1753,This is the best thing I've ever seen so spread it like wildfire &amp; maybe we'll find the genius who created it. 13/10 https://t.co/q6RsuOVYwU,the
2056,This is the happiest dog you will ever see. Very committed owner. Nice couch. 10/10 https://t.co/RhUEAloehK,the
2057,Here is the Rand Paul of retrievers folks! He's probably good at poker. Can drink beer (lol rad). 8/10 good dog https://t.co/pYAJkAe76p,the

In [549]:
df1[df1['name'] == 'the'] = 'None'

In [550]:
#test
df1[df1['name'] == 'the']
#works

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo, date, retweet_cnt, favorite_cnt, followers, jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog]
Index: []

[0 rows x 32 columns]

6. Replace names:  Name is recorded as None when name should be Atlas  , Index 1414: Name is recorded as None when should be Thea, Index 122, Index 129

In [557]:
df1.loc[1414]
df1.loc[1414, 'name'] = 'Thea'

In [562]:
df1.loc[129]
df1.loc[129, 'name'] = 'Boomer'